$green: #12e177;
$orange: #ffc72a;
$blue: #4c43d4;


.container {
  background: $blue;
  height: 100vh;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  overflow-y: scroll;

  .app-wrapper {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      padding: 20px 0;
    }
  }

  button {
    background: none;
    border: none;
    outline: none;

    &:hover {
      cursor: pointer;
    }
  }


}

.text-green {
  color: $green;
}

.text-orange {
  color: $orange;
}

.board {

  .board-row {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid #ffffff;

    &:last-child {
      border-bottom: none;
    }
  }

  .square {
    width: 80px;
    height: 80px;
    font-size: 2.5rem;
    border-right: 2px solid #ffffff;
    padding: 0;
    transition: all 0.2s;
    overflow: hidden;


    &:last-child {
      border-right: none;
    }

    &.winning {
      animation: scaleText 1.4s infinite;
      @keyframes scaleText {
        0% {
          transform: 2.5rem;
        }
        50% {
          font-size: 3.5rem;
        }
        100% {
          font-size: 2.5rem;
        }
      }
    }
  }

}

.history-wrapper {

  align-items: center;
  margin-bottom: 20px;




  ul {
    display: grid;

    list-style: none !important;
    flex-direction: column;
    gap: 5px 20px;
    justify-content: center;
    grid-template-columns: 2fr 2fr;

    li {

      &:before {
        content: '';
        border-radius: 50%;
        display: inline-block;
        height: 5px;
        width: 5px;
        background-color: $green;
        margin-right: 4px;
        margin-bottom: 1px;
      }
    }
  }

  .btn-move {
    color: #fff;

    &.active {
      font-weight: bold;
      color: $green;
    }
  }
}

.status-message {
  margin-bottom: 25px;
  font-size: 1.2rem;
  font-weight: lighter;

  span {
    font-weight: normal;
  }
}

.btn-reset {
  font-size: .8rem;
  color: white;
  border-radius: 15px;
  padding: 8px 12px;
  margin-top: 20px;
  transition: all 0.2s;
  background-color: transparent;
  box-shadow: 0 0 0 1px $orange;

  &.active {
    background-color: $orange;
    box-shadow: none;
  }
}

.bg-balls {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  z-index: -9999;

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  &:before {
    background-color: $orange;
    right: -75px;
    bottom: -75px;
    @media screen and (min-width: 476px) {
      width: 220px;
      height: 220px;
      right: -110px;
      bottom: -110px;
    }
  }

  &:after {
    background-color: $green;
    top: -75px;
    left: -75px;
    @media screen and (min-width: 476px) {
      width: 220px;
      height: 220px;
      top: -110px;
      left: -110px;
    }
  }
}
