.container-t {
    background: #0575E6;
    font-family: 'Quicksand', sans-serif;
    color: white;
    text-transform: uppercase;
    height: 100vh;
    padding-top: 80px;
}

.title {
    color: #000066;
}

.box-text {
    text-align: center;
    font-weight: 500;
}

.turn {
    padding-left: 10px;
    font-size: 20px;
    text-align: center;
}

table {
    display: flex;
    margin: auto;
    justify-content: center;

}

tr {
    display: flex;
}

table td {
    border: 1px solid white;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

.margin {
    margin-top: 10px;
}

.play-again {
    background-color: #000066;
    padding: 10px;
    border-radius: 4px;
    border: none;
    display: flex;
    justify-content: center;
    margin: auto;
    color: white;
}

